 .text {
   color:blue;
text-align:center;
   } 
 .texta {
   color:green;
text-align:center;
   } 
.h2 {
  text-align:center
}
.container-fluid{
  background-color:silver;
}

.beautiful-country{
  background-color:yellow;}
}
.fastest{
  background-color:red;
}

.travel{
  background-color:white;
}
           h2 {color:green;}
           h3 {color:red;}
           
           #popular-things-t0-do-on-your-visit-to-south-africa {color:green;}

           #popular-things-t0-do-on-your-visit-to-south-africa {font-family:cursive;
        } 


.images{
 
margin: 5vw 15vw 5vw 15vw;
  
}

.size{
   height: 100vw;
    width: 100vw;
  
}